/************ PORTRAIT  *************/
@media only screen and (max-device-width: 320px) {
    div#wrapper {
        width: 400px;
    }

    .media-object-thumb {
        width: 125px;
        height: 125px;
    }
}
@media only screen and (max-device-width: 480px) {
    div#wrapper {
        width: 400px;
    }


    .media-title-inner {
        color: #fff148 !important;
        line-height: 0.98em;
        padding: 10px;
        text-align: center !important;
        text-transform: uppercase;
        letter-spacing: -2px;
        position: relative;
        text-shadow: 1px 0 3px #000;
        top: 24%;
        width: 100%;
        /* border-left: 2px solid #d10000; */
        font-family: "Roboto Condensed", helevtica, sans-serif !important;
        font-weight: 500 !important;
        white-space: nowrap;
        font-size: 2.5em;
        overflow: hidden;
        /*text-overflow: ellipsis;*/
    }

    .swiper-container {

          height: 480px;
    }

    #single, #post-comments-list {
        height: 250px;
    }

    .comment-form {
        position: absolute;
        top: 290px;
        width: 100%;
    }



    .media-title-inner {
        color: #fff148 !important;
        line-height: 0.98em;
        padding: 10px;
        text-align: center !important;
        text-transform: uppercase;
        letter-spacing: -2px;
        position: relative;
        text-shadow: 1px 0 3px #000;
        top: 24%;
        width: 100%;
        /* border-left: 2px solid #d10000; */
        font-family: "Roboto Condensed", helevtica, sans-serif !important;
        font-weight: 500 !important;
        white-space: nowrap;
        font-size: 2.5em;
        overflow: hidden;
        /*text-overflow: ellipsis;*/
    }

    .media-object-thumb {
        width: 125px;
        height: 125px;
    }

    .top-banner {
        display: block;
        height: 20px !important;
        position: fixed;
        z-index: 1030;
        background-color: #fff !important;
        width: 100%;
    }

    .swiper-button-next, .swiper-button-prev {

        top: 40%;
    }

    .navbar-fixed-top {
        left: 0;
        position: fixed !important;
        right: 0;
        top: 18px;
        z-index: 1030;
    }
    .commentbox {
        background: rgba(255, 255, 255, 1) !important;
        position: fixed;
        top: 20px;
    }

    .swiper-button-next, .swiper-button-prev {

        margin-top: -22px;
    }

}

/************ iPhone 6 *********/



@media screen and (max-width: 500px) {


    .swiper-container {

        height: 480px;
    }

    .media-title-inner {
        font-size: 30px;
        top: 28%;
        width: 100%;
    }
    #single, #post-comments-list {
        height: 340px;
    }

    .comment-form {
        position: absolute;
        top: 380px;
        width: 100%;
    }

    .swiper-button-next, .swiper-button-prev {

        top: 40%;
    }

        .top-banner {
            display: block;
            height: 20px !important;
            position: fixed;
            z-index: 1030;
            background-color: #fff !important;
            width: 100%;
        }

    .navbar-fixed-top {
        left: 0;
        position: fixed !important;
        right: 0;
        top: 18px;
        z-index: 1030;
    }
    .commentbox {
        background: rgba(255, 255, 255, 1) !important;
        position: fixed;
        top: 24px;
    }

    .media-object-thumb {
        width: 125px;
        height: 125px;
    }


    .swiper-button-next, .swiper-button-prev {

        margin-top: -22px;
    }

    div.user {
        display: block;
        max-width: 100%;
        text-align: center;
        margin: 20% auto;
    }

    div.user > img {
        border-radius: 50%;
        width: 100px;
        padding: 10px;
    }
}

div#app-canvas {
    width: 100%;
    height: 100%;
}

a.user-link {
    color: #d10000;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
}









/************ LANDSCAPE  *************/
@media only screen and (min-device-width: 480px) {
    div#wrapper {
        width: 400px;
    }
    div#app-canvas {
        width: 100%;
        height: 100%;
    }

    .media-title-inner {
        font-size: 40px;
    }
.media-object-thumb {
    width: 230px;
    height: 230px;
}
    .top-banner {
        display: none;
    }

    .navbar-fixed-top {
        left: 0;
        position: fixed !important;
        right: 0;
        top: 0;
        z-index: 1030;
    }
    .commentbox {
        background: rgba(255, 255, 255, 1) !important;
        position: fixed;
        top: 15px;
    }
    .swiper-button-next, .swiper-button-prev {

        margin-top: -15px;
    }

    div.user {
        display: none;
        max-width: 100%;
        text-align: center;
        margin: 5% auto;
    }

    div.user > img {
        border-radius: 50%;
        width: 100px;
        padding: 10px;
    }

    #single, #post-comments-list {
        height: 190px;
    }

    .comment-form {
        position: absolute;
        top: 220px;
        width: 100%;
    }

}

@media screen and (min-width: 500px) {


    div.user {
        display: none;
        max-width: 100%;
        text-align: center;
        margin: 5% auto;
    }

    .media-object-thumb {
        width: 230px;
        height: 230px;
    }

    div.user > img {
        border-radius: 50%;
        width: 100px;
        padding: 10px;
    }

    div#wrapper {
        width: 400px;
    }

    .top-banner {
        display: none;
    }

    .navbar-fixed-top {
        left: 0;
        position: fixed !important;
        right: 0;
        top: 0;
        z-index: 1030;
    }
    .commentbox {
        background: rgba(255, 255, 255, 1) !important;
        position: fixed;
        top: 12px;
    }

    .swiper-button-next, .swiper-button-prev {

        margin-top: -150px;
    }


    .media-title-inner {
        color: #fff148 !important;
        line-height: 0.98em;
        padding: 10px;
        font-size: 70px;

        text-transform: uppercase;
        letter-spacing: -2px;
        position: relative;
        text-shadow: 1px 0 3px #000;
        top: 30%;
        width: 100% !important;
        text-align: center;
        /* border-left: 2px solid #d10000; */
        font-family: "Roboto Condensed", helevtica, sans-serif !important;
        font-weight: 500 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@media only screen and (min-device-width: 768px) {
    div#app-canvas {
        width: 100%;
        height: 100%;
    }

    .media-title-inner {
        color: #fff148 !important;
        line-height: 0.98em;
        padding: 10px;
        font-size: 70px;

        text-transform: uppercase;
        letter-spacing: -2px;
        position: relative;
        text-shadow: 1px 0 3px #000;
        top: 30%;
        width: 100% !important;
        text-align: center;
        /* border-left: 2px solid #d10000; */
        font-family: "Roboto Condensed", helevtica, sans-serif !important;
        font-weight: 500 !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .media-object-thumb {
        width:250px;
        height:250px;
    }
    * {
        zoom: 101%;
    }

    .swiper-container {

        height: 800px;
    }

    #single, #post-comments-list {
        height: 600px;
    }

    .comment-form {
        position: absolute;
        top: 630px;
        width: 100%;
    }




    .media-title-inner {
        color: #fff148 !important;
        line-height: 0.98em;
        padding: 10px;
        text-align: center !important;
        text-transform: uppercase;
        letter-spacing: -2px;
        position: relative;
        text-shadow: 1px 0 3px #000;
        top: 35%;
        width: 100%;
        /* border-left: 2px solid #d10000; */
        font-family: "Roboto Condensed", helevtica, sans-serif !important;
        font-weight: 500 !important;
        white-space: nowrap;
        font-size: 4.5em;
        overflow: hidden;

    }
}




/************ LANDSCAPE *********/


@media only screen and (min-device-width: 1024px) {

    #single, #post-comments-list {
        height: 390px;
    }

    .comment-form {
        position: absolute;
        top: 420px;
        width: 100%;
    }



    .media-title-inner {
        color: #fff148 !important;
        line-height: 0.98em;
        padding: 10px;
        text-align: center !important;
        text-transform: uppercase;
        letter-spacing: -2px;
        position: relative;
        text-shadow: 1px 0 3px #000;
        top: 35%;
        width: 100%;
        /* border-left: 2px solid #d10000; */
        font-family: "Roboto Condensed", helevtica, sans-serif !important;
        font-weight: 500 !important;
        white-space: nowrap;
        font-size: 4.5em;
        overflow: hidden;

    }

}